@import "tailwindcss";

:root {
  /* On force le thème sombre de la Lyon E-sport au niveau global */
  background-color: #070708;
  color: #ffffff;
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  background-color: #070708;
  min-height: 100svh; /* Hauteur fluide sur mobile */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Nettoyage du conteneur parent de React */
#root {
  width: 100%;
  max-width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}